font-face {
  font-family: "Arial-MT";
  src: url("./assets/fonts/Arial-MT.woff");
}

/*Normalize*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Arial", sans-serif;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  position: relative;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: white;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;

  min-height: 100%;
  transition: background-image 1s ease-in-out;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  color: white;
}
/*--------------------*/

html {
  height: 100vh;
}

.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  padding: 0% 1%;
}
.header {
  max-width: 1300px;
  display: flex;
  color: white;
  font-size: 200%;
  height: 13vh;
  width: 100%;
  opacity: 1;
  transition: 0.5s;
  z-index: 1;
  position: relative;
  font-family: "Arial", sans-serif;
  align-items: center;
  justify-content: space-between;
  padding: 1.5%;
}

.h1_container {
  display: flex;
  align-items: center;

  opacity: 1;
  z-index: 2;
  height: 20px;
  gap: 5px;
}

.h1_text {
  text-decoration: none;

  font-family: "Arial", sans-serif;
  color: white;
  font-size: 200%;
  text-transform: uppercase;
  cursor: pointer;
  text-shadow: black 5px 5px 10px;
}

.h1_text:hover {
  transform: scale(1.05);
  opacity: 1;
}

.main {
  max-width: 1300px;
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.game {
  display: flex;
}

.none_active {
  display: none;
}

.game_stages {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.stage {
  font-size: 150%;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.5);
  flex-basis: 16.66%;
  padding: 1% 0%;
  display: flex;
  justify-content: center;
  font-style: italic;
}

.stage:hover {
  background-color: #62d44d;
  border: 1px solid white;
  opacity: 1;
  cursor: pointer;
}

.stage_active {
  background-color: #62d44d;
  border: 1px solid white;
  opacity: 1;
}

.start_info_bird {
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  padding: 2%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex-basis: 75%;
}
.bird_image_info {
  width: 100%;
  height: 90%;
}
.start_info_bird_active {
  display: block;
}

.info_text {
  display: flex;
  gap: 20px;
  width: 100%;
}

.image_wrap_info {
  flex-basis: 25%;
}
.birds {
  display: none;
}

.birds_active {
  display: block;
  display: flex;
  flex-wrap: wrap;
}

.bird {
  display: flex;
  padding: 1%;
  gap: 30px;
  width: 100%;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
}

.image_wrap {
  flex-basis: 15%;
}

.bird_image {
  border-radius: 20px;
  width: 100%;
}
.bird_toknow_info {
  flex-basis: 70%;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.bird_name_info {
  font-weight: bold;
}

.bird_species_info {
  font-style: italic;
}

.footer {
  max-width: 1300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5%;
}

.footer_year {
  font-size: 125%;
  font-family: Arial, sans-serif;
  color: white;
  font-weight: bold;
}
.footer_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.github_link {
  display: inline-block;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 30px;
  height: 30px;
  width: 30px;
  background-size: cover;
  transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}

.github_image {
  width: 30px;
  height: 30px;
}
.rsschool_image {
  height: 30px;
  width: 80px;
}

.footer_link {
  text-decoration: none;
  display: flex;
  gap: 15px;
  transition: 0.5s;
  opacity: 0.5;
}

.footer_rsschool {
  display: inline-block;

  opacity: 0.5;
  transition: 0.5s;
}

.github_link:hover,
.rsschool_link:hover {
  transform: scale(1.05);
}

/*player*/
.info_audio,
.audio {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.audio_play {
  display: block;
  background-image: url("./assets/icons/play.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer;

  transition: 0.5s;
}

.audio_pause {
  background-image: url("./assets/icons/pause.png");
}

.timeline {
  position: relative;
  width: 85%;

  height: 8px;
}

.range_timeline {
  position: absolute;
  width: 99%;
  height: 9px;
  top: -1px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  border-radius: 15px;

  overflow: hidden;
  cursor: pointer;
}

.range_timeline::-webkit-slider-runnable-track {
  background: none;
}
.range_timeline::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 0px;
  height: 12px;
  box-shadow: -800px 0 0 800px rgba(0, 128, 0, 0.7);
  cursor: pointer;
}

.current_time,
.max_time {
  position: absolute;
  top: 15px;
  font-family: "Reaver-bold", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}

.current_time {
  left: 0;
}

.max_time {
  right: 0;
}

.volume_wrap {
  position: relative;
}

.volume {
  position: relative;
  display: block;
  background-image: url("./assets/icons/volume.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.5s;
}

.volume_off {
  background-image: url("./assets/icons/volume-off.png");
}

.volume_bar_wrap {
  position: absolute;
  top: 45px;
  left: 0;
  height: 80px;
  width: 30px;
  display: none;
}

.active {
  display: block;
}

.volume_bar_field {
  position: relative;
  top: -70px;
  left: -35px;

  margin-top: 0px;
  position: absolute;
  width: 95px;
  height: 25px;
  border: 1px solid white;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
}

.volume_bar {
  position: absolute;
  top: 8px;
  left: 5px;
  width: 85px;
  height: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.volume_bar::-webkit-slider-runnable-track {
  background: none;
}

.volume_bar::-moz-range-track {
  background: none;
}

.volume_bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(0, 0, 0, 0.5);
  width: 0px;
  height: 5px;
  box-shadow: -85px 0 0 85px rgba(0, 128, 0, 0.7);
  cursor: pointer;
}

.audio_play:hover,
.volume:hover {
  transform: scale(1.05);
}
/*player*/
