@font-face {
  font-family: "Arial-MT";
  src: url("./assets/fonts/Arial-MT.woff");
}

/*Normalize*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  position: relative;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: white;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  transition: background-image 1s ease-in-out;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  color: white;
}
/*--------------------*/

html {
  height: 100vh;
}

.header {
  max-width: 1300px;
  display: flex;
  color: white;
  font-size: 200%;
  height: 20vh;
  width: 100%;
  opacity: 1;
  transition: 0.5s;
  z-index: 1;
  position: relative;
  font-family: "Arial", sans-serif;
  align-items: center;
  justify-content: space-between;
  padding: 5%;
}

.h1_container {
  display: flex;
  align-items: center;
  opacity: 1;
  z-index: 2;
  height: 20px;
  gap: 5px;
}

.lang_container {
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
}

.page_link {
  text-decoration: none;
}

.main {
  max-width: 1300px;
  width: 100%;
  flex: 1 1 auto;
}

.h1_text {
  text-decoration: none;

  font-family: "Arial", sans-serif;
  color: white;
  font-size: 200%;
  text-transform: uppercase;
  cursor: pointer;
  text-shadow: black 5px 5px 10px;
}

.h1_text:hover {
  transform: scale(1.05);
  opacity: 1;
}

.language_text {
  padding-bottom: 3px;
  font-family: "Reaver-bold", sans-serif;
  color: white;
  font-size: 120%;
  cursor: pointer;
}

.language_text:hover {
  transform: scale(1.05);
  opacity: 1;

}

.language_choice {
  height: 30px;
  width: 45px;
  cursor: pointer;
  opacity: 1;
  z-index: 2;
}

/*.language_choice_ru {
  background-image: url("assets/icons/russia.svg");
}*/

.description {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
}

.description_text {
  box-sizing: border-box;
  padding: 5%;
  font-size: 250%;
  font-family: Arial, sans-serif;
  color: white;
  text-shadow: black 5px 5px 10px;
  text-align: center;
}
.button_container {
  display: flex;
  gap: 50px;
}

.button {
  display: block;
  margin: 0 auto;
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-size: 350%;
  font-family: "Reaver-bold", sans-serif;
  text-transform: uppercase;
  border: 3px solid white;
  border-radius: 15px;
  padding: 1.5% 5%;
  transition: 0.5s;
  opacity: 0.9;
  margin-top: 15px;
}
.play {
  padding: 1.5% 9%;
}

.gallery {
  margin-top: 15px;
}

.button:hover {
  transform: scale(1.05);
  opacity: 1;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
}

.footer {
  max-width: 1300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3%;
}

.footer_year {
  font-size: 125%;
  font-family: Arial, sans-serif;
  color: white;
  font-weight: bold;
}
.footer_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.github_link {
  display: inline-block;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 30px;
  height: 60px;
  width: 60px;
  background-size: cover;
  transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}

.github_image {
  width: 60px;
  height: 60px;
}
.rsschool_image {
  height: 60px;
  width: 162px;
}

.footer_link {
  text-decoration: none;
  display: flex;
  gap: 15px;
  transition: 0.5s;
  opacity: 0.5;
}

.footer_rsschool {
  display: inline-block;
  background-image: url("assets/icons/rsschool.svg");
  background-repeat: no-repeat;

  background-size: cover;
  opacity: 0.5;
  transition: 0.5s;
}

.github_link:hover,
.rsschool_link:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 860px) {
  .language {
    top: 100px;
  }

  .description_text {
    font-size: 55px;
  }
}

@media screen and (max-width: 780px) {
  .h1_text {
    font-size: 150%;
    text-shadow: black 5px 5px 5px;
  }

  .language_text {
    color: white;
    font-size: 75%;
  }

  .language_choice {
    height: 15px;
    width: 25px;
  }

  .description_text {
    font-size: 200%;
  }

  .button {
    font-size: 250%;
  }
}

@media screen and (max-width: 780px) {
  .h1_text {
    font-size: 125%;
  }

  .language_text {
    color: white;
    font-size: 85%;
  }

  .language_choice {
    height: 15px;
    width: 25px;
  }

  .description_text {
    font-size: 150%;
  }

  .button {
    font-size: 200%;
  }
}

@media screen and (max-width: 500px) {
  .h1_text {
    font-size: 100%;
  }
  .lang_container {
    gap: 10px;
  }
  .language_text {
    color: white;
    font-size: 50%;
  }

  .language_choice {
    height: 15px;
    width: 25px;
  }

  .description_text {
    font-size: 100%;
  }

  .button {
    font-size: 150%;
  }

  .button_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}



@media screen and (max-width: 400px) {
  .h1_text {
    font-size: 95%;
  }
  
  .language_text {
    color: white;
    font-size: 45%;
  }

  .language_choice {
    height: 15px;
    width: 25px;
  }

  .description_text {
    font-size: 100%;
  }

  .button {
    font-size: 150%;
  }

  .button_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .github_link {
   
    gap: 20px;
    height: 40px;
    width: 40px;
    
  }
  
  .github_image {
    width: 40px;
    height: 40px;
  }
  .rsschool_image {
    height: 45px;
    width: 120px;
  }
  
  .footer_link {
    text-decoration: none;
    display: flex;
    gap: 15px;
    transition: 0.5s;
    opacity: 0.5;
  }
  
  .footer_rsschool {
    display: inline-block;
    background-image: url("assets/icons/rsschool.svg");
    background-repeat: no-repeat;
  
    background-size: cover;
    opacity: 0.5;
    transition: 0.5s;
  }
  
  .github_link:hover,
  .rsschool_link:hover {
    transform: scale(1.05);
  }


}